.containerHome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  min-height: calc(100vh - 189px);
  margin: 20px auto;
  padding: 0 20px 0 20px;
}

.wrapperFoto {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardHomeFoto {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.homeFoto {
  /* object-fit: cover; */
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.wrapperDescription {
  width: 400px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleHome {
  margin-bottom: 30px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  color: #495057;
}

.homeDescription {
  margin-bottom: 40px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  line-height: 1.3;
}

.btnCall {
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
  background-color: #1985a1;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #f8f9fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

.btnLink {
  color: #f8f9fa;
  font-weight: 500;
}
