.header {
  border-bottom: 1px solid #1985a1;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.containerHeader {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Indie Flower", cursive;
  cursor: pointer;
  font-size: 36px;
  font-weight: 400;
  color: #46494c;
}

.logoLink {
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 0;
}

.btn {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #46494c;
  font-weight: 300;
}
